.chart-section-container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-size: cover;
    width: 35vw;    
}

.income-details-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.heading{
    color: rgb(90, 87, 87);
}
.top-container{
    margin-left: 40px;
    margin-top: 25px;
}
.bottom-section-container{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.bottom-heading{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.circular-bar{
    height: 100px;
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.income-container{
    display: none;
}
.amount{
    font-size: 18px;
}

.bar-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.progressbar-section{
    display: flex;
    flex-direction: row;
}

.contribution-container{
    display: flex;
    flex-direction: row;
}
.middle-section{
    margin-left: 40px;
}
.span-dot{
  height: 8px;
  width: 15px;
  background-color: rgb(41, 14, 149);
  border-radius: 40%;
  display: inline-block;
  margin-right: 2px;
}
.heading{
    font-size: 15px;
}
.contribution-heading{
    color: rgb(182, 177, 177);
}


.desc-heading{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(182, 177, 177);
}

.mobile-top-container{
    margin-left: 40px;
    margin-top: 25px;
}

@media only screen and (max-width: 767px) {  
    .income-details-container{
        display: flex;
        flex-direction: column;
    }
    .chart-section-container{
        background-color: #fff;
        background-size: cover;
        width: 90%;    
        height: 90%;
        margin-top: 35px;
        margin: 30px;
        border-radius: 10px;
        padding-bottom: 35px;
        
    }
    .bell-icon{
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        justify-content: flex-end;
        margin: 10px;

    }
    .bottom-heading{
        font-size: 18px;
    }
    .amount{
        font-size: 12px;
    }
    .bottem-section-heading{
        font-size: 5px;
    }
    .progressbar-section{
        height: 300px;
    }
    .bar-container{
        width: 80%;
    }
    .income-container-price{
        display: none;
    }
    .income-container{
        display: flex;
    }
    .desc-heading{
        font-size: 13px;
        font-weight: bolder;
        color: rgb(182, 177, 177);
    }
    .contributions-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 768px) { 
    .bell-icon{
        display: none;
    }
    .income-container {
        display: none;
    }
}