.chart-section-container{
    background-color: #fff;
    height: 100vh;
    background-size: cover;
    width: 35vw;    
}
.income-container {
    display: flex;
    flex-direction: row;
}
.income-details-container{
    display: flex;
    flex-direction: row;
}

.top-container{
    margin-left: 40px;
    margin-top: 25px;
}
.bottom-section-container{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.bottom-heading{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.circular-bar{
    height: 100px;
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.amount{
    font-size: 18px;
}

.bar-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.progressbar-section{
    display: flex;
    flex-direction: row;
}
.income-container{
    display: flex;
}

.contribution-container{
    display: flex;
    flex-direction: row;
}
.middle-section{
    margin-left: 40px;
}
.span-dot{
  height: 8px;
  width: 15px;
  background-color: rgb(41, 14, 149);
  border-radius: 40%;
  display: inline-block;
  margin-right: 2px;
}
.heading{
    font-size: 15px;
}

.horizontal-line{
    border-top: 2px groove rgb(221, 226, 221);
}


.mobile-top-container{
    margin-left: 40px;
    margin-top: 25px;
}

@media only screen and (max-width: 767px) {  
    .income-details-container{
        display: flex;
        flex-direction: column;
    }
    .chart-section-container{
        background-color: #fff;
        background-size: cover;
        width: 90%;    
        height: 80vh;
        margin-top: 35px;
        margin-bottom: 40px;
        margin: 50px;
        border-radius: 10px;
        
    }
    .bell-icon{
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        justify-content: flex-end;
        margin: 10px;

    }
    .bottom-heading{
        font-size: 18px;
    }
    .amount{
        font-size: 12px;
    }
    .bottem-section-heading{
        font-size: 5px;
    }
    .progressbar-section{
        height: 300px;
    }
    .bar-container{
        width: 80%;
    }
}

@media only screen and (min-width: 768px) { 
    .bell-icon{
        display: none;
    }
}