.profile-container{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 25vw;
}

.bio-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
    margin-top: 10px;
}
.week-day{
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 600;
    color: rgb(90, 87, 87);
}
.person-name {
    font-family: "roboto";
    font-size: 18px;
    font-weight: bold;
}

.profile-middle-section{
    margin-top: 5px;
    margin-right: 60px;
    margin-left: 40px;
}
.profile-bottom-section{
    margin-top: 45px;
    margin-left: 40px;
    margin-right: 60px;
}
.amount{
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 800;
    
}
.description{
    color: rgb(182, 177, 177);
    font-size: 15px;
}
.person-image {
    height: 70px;
    width: 70px;
    border-radius: 55px;
}

.butterfly {
    height: 25px;
    width: 25px;
    padding-right: 2px;
}
button{
    background-color: blue;
    color: #fff;
    border: none;
    height: 36px;
    border-radius: 5px;
    width: 100px;
}
.mobile-button{
    background-color: blue;
    color: #fff;
    border: none;
    height: 36px;
    border-radius: 5px;
    width: 150px;
}
.heading{
    font-family: "Roboto";
    font-size: 12px;
}
.horizontal-line{
    border: 0.2px groove rgb(193, 193, 193);
}

.transaction-section{
   width: 75%;
   margin-left: 45px;
}
.profile-mobile-container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
}

.balance-details{
    margin-left: 15px;
    background: whitesmoke;
    padding: 15px;
    border-radius: 10px;
}
.withdrawl-section{
    margin-top: 25px;
    margin-left: 15px;
    padding: 15px;
    background: whitesmoke;
    border-radius: 10px;
}
.mobile-button{
    width: 200px;
    margin-left: 10px;
}

@media only screen and (min-width: 768px) {  
    .mobile-icons-container{
        display: none;
    } 
    .bell-icon{
        display: none;
    }
    
}
@media screen and (max-width: 767px) {  
    .amount-contribution-details{
        display: flex;
        flex-direction: row;  
        justify-content: space-between; 
        width: 70%;
    }
    .button-container{
        margin-left: 50px;
        width: 50%;
    }
    .transaction-section{
        display: none;
    }
    .profile-bottom-section{
        margin-top: 45px;
        margin-left: 40px;
        margin-bottom: 40px;
    }
    .profile-container{
        background-color: #fff;
        width: 90%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        max-height: 70vh;
        margin-left: 20px;
    
    }
    .mobile-icons-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 95%;


    }
    
    .bell-icon{
        align-self: flex-end;
       
    }
    .description{
        color: rgb(182, 177, 177);
        font-size: 10px;
        margin-right: 5px;

    }
    .amount{
        font-size: 12px;
    }
    .heading{
        font-size: 10px;
    }

    .trans-section,.profile-bottom-section{
        background-color: whitesmoke;
        padding: 20px;
        width: 75%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }
}