.sidebar-app-container{
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    width: 5vw;
    height: 100vh;
    border-radius: 10px;
}

.icons-container{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;

}

.butterflyImg{
    height: 45px;
    width: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
    background: none;
}
.person-image{
    height: 100px;
    width: 100px;
    background-color: #fff;

}
.section-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
    margin-left: 10px;
}
.home-icon{
    background: transparent;
    color: blue;
    margin-bottom: 15px;
}
.icon{
    margin-bottom: 15px;
}
.bottom-icons-container{
    margin-bottom: 5px;
    margin-left: 15px;
}
.top-icons-container{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
    padding-bottom: 70px;
}

@media only screen and (max-width: 767px) {  
    .sidebar-app-container{
        display: none;
    } 
}  