.third-section-app-container{
    background-color: #fff;
    width: 35vw;
    height: 100vh;
}
.top-heading{
    margin-left: 50px;
}

.progressbar{
    background: rgb(220, 211, 199);
    width: 200px;
    height: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 22px;
}
.progressbar div{
    height: 5px;
    border-radius: 5px;
    width: 50%;
    background: blue;
}
.progressbar div span{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #fff;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
   
}
.sec-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.progressbarone{
    background: rgb(220, 211, 199);
    width: 200px;
    height: 5px;
    border-radius: 5px;
    margin-left: 20px;
}
.progressbarone div{
    height: 5px;
    border-radius: 5px;
    width: 70%;
    background: blue;
}
.progressbarone div span{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #fff;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
   
}
.interst-percentage{
    margin-left: 170px;
}
.third-section-container{
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 30px;
    width: 65%;
    height: 50%;
   
}
.mobile-third-section-containr{
    background-color: whitesmoke;
    width: 70%;
    margin-left: 35px;
    padding-top: 10px;
   
}
.contribution{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}
.vertical-line {
    border-left: 2px groove rgb(221, 226, 221);
    height: 100px;
    margin-right: 15px;
  }

.third-bottom-section{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    padding-top: 20px;
}

.contribution-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}
.percentage{
    margin-top: 10px;
    margin-left: 95px;
}

.third-section-bar-container{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.third-section-circular-bar{
    height: 100px;
    width: 110px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .third-section-app-container{
        width: 90%;
        margin: 0;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 85%;
        margin-left: 25px;
        margin-right:15px ;

    }
    .close-button{
        display: flex;
        align-self: flex-end;
        margin: 10px;
    }
    .third-section-circular-bar{
        height: 90px;
        width: 100px;
        margin-top: 10px;

    }
    .third-section-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 40px;
    }
    .third-section-bar-container{
        width: 80%;
        margin-top: 70px;
        margin-left: 30px;
    }
    .description-percentage{
        background-color: #fff;

    }
    .contribution{
       display: flex;
       flex-direction: column;
       justify-content: center;
       margin-left: 45px;
    }
    .interst-percentage{
        margin-left: 170px;
    }
    .section-container{
        margin-left: 20px;
    }
    .lg-button{
        width: 100%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

@media only screen and (min-width: 768px) {
.top-section-container{
    display: none;
}
.third-section-container{
    margin-left: 60px;
}
}