.main-container{
  display: flex;
  flex-direction: row;
  background-color: rgb(239, 232, 232);
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
.app-container{
  display: flex;
  flex-direction: row;
  background-color: rgb(235, 235, 238);
  border-radius: 10px;
  width: 100%;
  padding: 0;
  margin: 0;
}

@media screen and (max-width:767px) {
  .app-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}